body{
    margin: 0;
}

/* header block */

header{
    background: url(images/background/header-bg.jpg) no-repeat center top / cover;
    text-transform: uppercase;
    height: 900px;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Anton', sans-serif;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.1em;
}
.container-header {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 57px;
}
.wrapper-menu {
    max-width: 100%;
    margin-left: 69px;
    line-height: 21px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
}
.wrapper-menu__logo-icon {
    Width: 31px;
}
.logo-icon {
    width: 100%;
    height: 100%;
}
.wrapper-menu__nav {
    display: flex;
    align-items: center;
    margin-left: 69px;
}
.wrapper-menu_list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0%;
}
nav > a{
    color: #fff;
    text-decoration: none;
    margin-right: 80px;
}
.wrapper-menu__phone {
    position:absolute;
    right: 0;
}
.wrapper-menu__phone > a{
    text-decoration: none;
    color: #fff;
}

/* Body block */

.container-body__content {
    margin-top: 216px;
    text-transform: uppercase;
}
.container-body__content > span{
    font-size: 30px;
    line-height: 45px;
}

.container-body__content > h1{
    font-size: 100px;
    margin: 0;
    margin-top: -3px;
    line-height: 151px;
}
.container-body__content > button{
    margin-top: 15px;
    border-style: none;
    border: 1px solid #fff;
    padding: 18px 23px 17px 23px;
    background: transparent;
    color: #fff;
    font-size: 17px;
    transition: all 0.3s ease;
    line-height: 26px;
    cursor: pointer;
}

.container-body__content > button:hover{
    background-color: #fff;
    color: #000;
}

/* blog block */

.about-content {
    color: #000;
    padding-top: 113px;
}
.about-content__header {
    font-size: 50px;
}
.about-content__blog-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    color: #000;
}

.blog-title{
    font-size: 25px;
    margin-top: 58px;
    text-transform: uppercase;
}

.about-content__left-column,
.about-content__right-column {
    width: 100%;
    max-width: 564px;
}
.about-content__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* image block */

.about-content__image-block {
    display: flex;
    justify-content: space-between;
}
.img-top-block > img,
.img-bottom-block > img{
    width: 100%;
}
.about-content__image-wrapper {
    margin-top: 67px;
}

/* footer block */

.footer-wrapper {
    padding: 114px 0 80px 0;
}

.footer-wrapper__copyright-info {
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    
}
.footer_wrapper__left-column{
    margin-right: 55px;
}
.footer-wrapper__copyright-info > p{
    font-size: 15px
}

@media screen and (max-width:1024px) {
    .container{
        padding:0 80px;
    }
    .about-content__header{
        display: flex;
        justify-content:center;
    }
    .blog-title{
        display: flex;
        justify-content:center;
    }
    .about-content__blog-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-content__image-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 570px;
        margin: 0 auto;
    }
    .img-bottom-block{
        margin-top: 30px;
    }
}

@media screen and (max-width:768px) {
    .container-header{
        display: block;
        margin: 0;
    }
    .wrapper-menu__logo-icon{
        position: absolute;
        left: 0%;
    }
    .wrapper-menu{
        margin: 0;
    }
    .wrapper-menu__nav,
    .wrapper-menu__phone,
    .wrapper-menu__list > nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0;
    }

    .wrapper-menu__list > nav > a{
        margin: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:699px) {
    .about-content__image-block{
        justify-content: center;
    }
}
@media screen and (max-width:490px) {
    .container-body__content{
        text-align: center;
    }
    .container-body__content > span{
        font-size: 20px;
    }
    
    .container-body__content > h1{
        font-size: 70px;
        line-height: 80px;
    }

    .about-content__header{
        text-align: center;
    }

    .blog-title > h2{
        font-size: 20px;
    }
    .blog-text > p{
        font-size: 18px;
    }
    .about-content__image-wrapper{
        margin-top: 20px;
    }
    .img-bottom-block{
        max-width: 265px;
        margin-top: 20px;
    }
    .footer_wrapper__left-column{
        margin: 0;
    }
    .footer-wrapper__copyright-info{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width:376px) {
    .container{
        padding: 40px;
    }
    .footer-wrapper{
        padding-top: 30px;
    }
}