html{
    max-width: 100%;
}

body{
    margin: 0;
}

.main{
    width: 100%;
}

header{
    background: url(images/header-bg.jpg) no-repeat center top / cover;
    text-transform: uppercase;
    height: 900px;
}

.wrapper-top-menu{
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 57px;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Anton', sans-serif;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.1em;
}

.menu{
    margin-left: 69px;
    line-height: 21px;
}

.menu > ul{
    
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0%;
}
.menu > ul > li > a{
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
}

.phone{
    position: absolute;
    right: 0;
}

.phone > a{
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}

.content{
    margin-top: 216px;
    text-transform: uppercase;
}

.content > span{
    font-size: 30px;
    line-height: 45px;
}

h1 {
    font-size: 100px;
    margin: 0;
    margin-top: -3px;
    line-height: 151px;
}

.content > button{
    margin-top: 15px;
    border-style: none;
    border: 1px solid #fff;
    padding: 18px 23px 17px 23px;
    background: transparent;
    color: #fff;
    font-size: 17px;
    transition: all 0.3s ease;
    line-height: 26px;
    cursor: pointer;
}

.content > button:hover{
    background-color: #fff;
    color: #000;
}

.about-wrapper{
    padding-top: 113px;
}

.about-wrapper > span{
    color: #000;
    font-size: 50px;
}

.blog-wrapper{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    color: #000;
}

.left-column , 
.right-column{
    width: 564px;
}

.right-column{
    margin-left:36px;
}

.left-column > h2 ,
.right-column > h2{
    font-size: 25px;
    margin-top: 58px;
    text-transform: uppercase;
}
.left-column > p ,
.right-column > p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.about-wrapper > .image-wrapper{
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
}

.image-block > img,
.image-bottom-block > img{
        width: 100%;
    }

footer{
    padding: 114px 0 80px 0;
}

.copy-right-info{
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: flex;
}

.copy-right-info > p{
    margin-right: 55px;
    font-size: 15px
}


@media screen and (max-width:1440px)
{
    header{
        margin: 0 auto;
    }

    .container{
        max-width: 80%;
        margin: 30px;
        margin: 0 auto;
    }

    .about-wrapper > .image-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 0 auto;
    }
    .about{
        margin: 0 auto;
    }
    
    .blog-wrapper{
        display: flex;
        justify-content: space-between;
    }

    .about-wrapper > .left-column,
    .about-wrapper > .right-column{
        width: 270px;
    }

    footer{
        max-width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width:1390px) {
    .about-wrapper > .image-wrapper{
        max-width: 570px;
    }
}


@media screen and (max-width:1024px)
{
    .header{
        max-width: 60%;
        margin: 0 auto;
    }
    .container{
        max-width: 70%;
        margin: 30px;
        margin: 0 auto;
    }
    
}

@media screen and (max-width:768px) {
    h1{
        font-size: 80px;
        line-height:normal;
    }
    .container{
        max-width: 80%;
    }

    .about{
        max-width: 90%;
        margin: 0 auto;
    }

    .about-wrapper > span{
        display: flex;
        justify-content: center;
    }

    h2{
        display: flex;
        justify-content: center;
    }

    .blog-wrapper{
        display: flex;
        flex-direction: column;
    }
    .blog-wrapper > .right-column{
        margin-left: 0%;
    }

    .about-wrapper > .image-wrapper{
        max-width: 564px;
        margin: 0 auto;
    }

    .image-wrapper > .image-block{
        width: 49%;
    }

    .image-wrapper > .image-bottom-block{
        width: 100%;
        padding-top: 1%;
    }

    .image-block > img,
    .image-bottom-block > img{
        width: 100%;
    }
    
    footer{
        width: 100%;
    }

    .copy-right-info{
        max-width: 100%;
    }
}


@media screen and (max-width:425px) {

    .image-wrapper > img{
        width: 50px;
    }

    .container > .image-wrapper{
        width: 100px;
    }
}